Repository godaddy-wordpress/wc-plugin-framework, pull requests merged in 2019-11, with the labels that each got.

#354 [ch16760] Revisit Apple Pay Order Creation
  package.json
  woocommerce/changelog.txt
  woocommerce/class-sv-wc-plugin.php
  woocommerce/payment-gateway/apple-pay/class-sv-wc-payment-gateway-apple-pay-orders.php
  woocommerce/payment-gateway/apple-pay/class-sv-wc-payment-gateway-apple-pay.php
  woocommerce/payment-gateway/class-sv-wc-payment-gateway-plugin.php
Labels: payment-gateway

#358 Hardens pre-orders integration to avoid fatal error in some circumstances
  woocommerce/changelog.txt
  woocommerce/payment-gateway/integrations/class-sv-wc-payment-gateway-integration-pre-orders.php
Labels: Integration: Pre-Orders, bug

#356 Do not reduce stock levels for held orders
  woocommerce/changelog.txt
  woocommerce/payment-gateway/Handlers/Abstract_Payment_Handler.php
  woocommerce/payment-gateway/class-sv-wc-payment-gateway-direct.php
  woocommerce/payment-gateway/class-sv-wc-payment-gateway.php
  woocommerce/payment-gateway/integrations/class-sv-wc-payment-gateway-integration-pre-orders.php
Labels: bug, payment-gateway
