Repository godaddy-wordpress/wc-plugin-framework, pull requests merged in 2020-01, with the labels that each got.

#386 Trigger 'change' event if field value is non-empty only
  woocommerce/payment-gateway/assets/js/frontend/sv-wc-payment-gateway-payment-form.coffee
  woocommerce/payment-gateway/assets/js/frontend/sv-wc-payment-gateway-payment-form.min.js
Labels: bug, payment-gateway

#388 Prevent js error on my account > payment methods screen
  woocommerce/changelog.txt
  woocommerce/payment-gateway/class-sv-wc-payment-gateway-my-payment-methods.php
Labels: bug, payment-gateway

#392 Apple Pay allows customers to checkout without accepting the terms and conditions [9]
  woocommerce/changelog.txt
  woocommerce/payment-gateway/apple-pay/class-sv-wc-payment-gateway-apple-pay-frontend.php
  woocommerce/payment-gateway/assets/css/frontend/sv-wc-payment-gateway-apple-pay.css
  woocommerce/payment-gateway/assets/js/frontend/sv-wc-payment-gateway-apple-pay.coffee
  woocommerce/payment-gateway/assets/js/frontend/sv-wc-payment-gateway-apple-pay.min.js
Labels: bug, payment-gateway

#390 Tweak hosted gateway checkout "Continue" button [6]
  woocommerce/changelog.txt
  woocommerce/payment-gateway/class-sv-wc-payment-gateway.php
Labels: enhancement, payment-gateway

#393 Move creation of terms and conditions link to render_terms_notice()
  woocommerce/payment-gateway/apple-pay/class-sv-wc-payment-gateway-apple-pay-frontend.php
Labels: payment-gateway
