Repository godaddy-wordpress/wc-plugin-framework, pull requests merged in 2020-10, with the labels that each got.

#505 Fix a Capture Charge button issue when adding items to an order
  woocommerce/changelog.txt
  woocommerce/payment-gateway/admin/views/html-order-partial-capture.php
  woocommerce/payment-gateway/assets/js/admin/sv-wc-payment-gateway-admin-order.coffee
  woocommerce/payment-gateway/assets/js/admin/sv-wc-payment-gateway-admin-order.min.js
  woocommerce/payment-gateway/assets/js/admin/sv-wc-payment-gateway-admin-order.min.js.map
Labels: bug

#507 Google Pay Support
  .gitignore
  Gruntfile.js
  grunt/configs/coffee.js
  grunt/configs/uglify.js
  package-lock.json
  package.json
  tests/_archive/bootstrap.php
  woocommerce/i18n/languages/woocommerce-plugin-framework-et.po
  woocommerce/i18n/languages/woocommerce-plugin-framework.pot
  woocommerce/payment-gateway/External_Checkout/Admin.php
  woocommerce/payment-gateway/External_Checkout/External_Checkout.php
  woocommerce/payment-gateway/External_Checkout/Frontend.php
  woocommerce/payment-gateway/External_Checkout/Google_Pay/AJAX.php
  woocommerce/payment-gateway/External_Checkout/Google_Pay/Admin.php
  woocommerce/payment-gateway/External_Checkout/Google_Pay/Frontend.php
  woocommerce/payment-gateway/External_Checkout/Google_Pay/Google_Pay.php
  woocommerce/payment-gateway/External_Checkout/Orders.php
  woocommerce/payment-gateway/External_Checkout/apple-pay/api/class-sv-wc-payment-gateway-apple-pay-api-request.php
  woocommerce/payment-gateway/External_Checkout/apple-pay/api/class-sv-wc-payment-gateway-apple-pay-api-response.php
  woocommerce/payment-gateway/External_Checkout/apple-pay/api/class-sv-wc-payment-gateway-apple-pay-api.php
  woocommerce/payment-gateway/External_Checkout/apple-pay/api/class-sv-wc-payment-gateway-apple-pay-payment-response.php
  woocommerce/payment-gateway/External_Checkout/apple-pay/class-sv-wc-payment-gateway-apple-pay-admin.php
  woocommerce/payment-gateway/External_Checkout/apple-pay/class-sv-wc-payment-gateway-apple-pay-ajax.php
  woocommerce/payment-gateway/External_Checkout/apple-pay/class-sv-wc-payment-gateway-apple-pay-frontend.php
  woocommerce/payment-gateway/External_Checkout/apple-pay/class-sv-wc-payment-gateway-apple-pay.php
  woocommerce/payment-gateway/admin/class-sv-wc-payment-gateway-admin-order.php
  woocommerce/payment-gateway/admin/class-sv-wc-payment-gateway-admin-payment-token-editor.php
  woocommerce/payment-gateway/assets/css/frontend/sv-wc-payment-gateway-apple-pay.css
  woocommerce/payment-gateway/assets/css/frontend/sv-wc-payment-gateway-external-checkout.css
  woocommerce/payment-gateway/assets/dist/admin/sv-wc-payment-gateway-admin-order.js
  woocommerce/payment-gateway/assets/dist/admin/sv-wc-payment-gateway-admin-order.js.map
  woocommerce/payment-gateway/assets/dist/admin/sv-wc-payment-gateway-token-editor.js
  woocommerce/payment-gateway/assets/dist/admin/sv-wc-payment-gateway-token-editor.js.map
  woocommerce/payment-gateway/assets/dist/frontend/sv-wc-payment-gateway-apple-pay.js
  woocommerce/payment-gateway/assets/dist/frontend/sv-wc-payment-gateway-apple-pay.js.map
  woocommerce/payment-gateway/assets/dist/frontend/sv-wc-payment-gateway-google-pay.js
  woocommerce/payment-gateway/assets/dist/frontend/sv-wc-payment-gateway-google-pay.js.map
  woocommerce/payment-gateway/assets/dist/frontend/sv-wc-payment-gateway-my-payment-methods.js
  woocommerce/payment-gateway/assets/dist/frontend/sv-wc-payment-gateway-my-payment-methods.js.map
  woocommerce/payment-gateway/assets/dist/frontend/sv-wc-payment-gateway-payment-form.js
  woocommerce/payment-gateway/assets/dist/frontend/sv-wc-payment-gateway-payment-form.js.map
  woocommerce/payment-gateway/assets/js/admin/sv-wc-payment-gateway-admin-order.min.js
  woocommerce/payment-gateway/assets/js/admin/sv-wc-payment-gateway-admin-order.min.js.map
  woocommerce/payment-gateway/assets/js/admin/sv-wc-payment-gateway-token-editor.min.js
  woocommerce/payment-gateway/assets/js/admin/sv-wc-payment-gateway-token-editor.min.js.map
  woocommerce/payment-gateway/assets/js/frontend/sv-wc-payment-gateway-apple-pay.coffee
  woocommerce/payment-gateway/assets/js/frontend/sv-wc-payment-gateway-apple-pay.min.js
  woocommerce/payment-gateway/assets/js/frontend/sv-wc-payment-gateway-apple-pay.min.js.map
  woocommerce/payment-gateway/assets/js/frontend/sv-wc-payment-gateway-google-pay.js
  woocommerce/payment-gateway/assets/js/frontend/sv-wc-payment-gateway-my-payment-methods.min.js
  woocommerce/payment-gateway/assets/js/frontend/sv-wc-payment-gateway-my-payment-methods.min.js.map
  woocommerce/payment-gateway/assets/js/frontend/sv-wc-payment-gateway-payment-form.min.js
  woocommerce/payment-gateway/assets/js/frontend/sv-wc-payment-gateway-payment-form.min.js.map
  woocommerce/payment-gateway/class-sv-wc-payment-gateway-my-payment-methods.php
  woocommerce/payment-gateway/class-sv-wc-payment-gateway-plugin.php
  woocommerce/payment-gateway/class-sv-wc-payment-gateway.php
Labels: enhancement, payment-gateway

#512 Notices for non-standard tax behaviors
  woocommerce/class-sv-wc-helper.php
  woocommerce/payment-gateway/External_Checkout/Admin.php
  woocommerce/payment-gateway/External_Checkout/External_Checkout.php
  woocommerce/payment-gateway/External_Checkout/Google_Pay/Admin.php
  woocommerce/payment-gateway/External_Checkout/Google_Pay/Google_Pay.php
  woocommerce/payment-gateway/External_Checkout/apple-pay/class-sv-wc-payment-gateway-apple-pay-admin.php
  woocommerce/payment-gateway/External_Checkout/apple-pay/class-sv-wc-payment-gateway-apple-pay.php
Labels: payment-gateway
